@layer base {
  body {
    cursor: none;
  }
  a, button, input, select {
    cursor: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #08090d;
}
::-webkit-scrollbar-thumb {
  background: #1e2638;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f0ff;
}
